.button {
    -fx-background-color: #286090;
    -fx-text-fill: #fff;
        -fx-font-family: "Arial Narrow";
        -fx-font-weight: bold;
        -fx-background-color: linear-gradient(#61a2b1, #2A5058);
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label {
-fx-text-fill: #f90;
-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


.root {
    -fx-cursor: hand;
    -fx-text-fill: #f90;
    -fx-background-color: #fff
}